<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>collegeEmail</param-name>
        <param-value>12102040701140@mbit.edu.in</param-value>
    </context-param>
    <servlet>
        <servlet-name>DisplayData</servlet-name>
        <servlet-class>Practical2.DisplayData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>Practical3.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudent</servlet-name>
        <servlet-class>Practical3.EditStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>Practical3.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudent</servlet-name>
        <servlet-class>Practical3.SearchStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllStudent</servlet-name>
        <servlet-class>Practical3.ViewAllStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>Practical5.EmailServlet</servlet-class>
        <init-param>
            <param-name>email</param-name>
            <param-value>ppratham812@gmail.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayData</servlet-name>
        <url-pattern>/DisplayData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudent</servlet-name>
        <url-pattern>/EditStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudent</servlet-name>
        <url-pattern>/SearchStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllStudent</servlet-name>
        <url-pattern>/ViewAllStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
