# JDBC Practicals
JDBC/out
/JDBC/ExtraPrograms/nbproject/private/
/JDBC/ExtraPrograms/build/

# JSP Practicals
/JSP/Practical7/nbproject/private/
/JSP/Practical7/build/
/JSP/Practical7/lib
/JSP/Practical7/nbproject
/JSP/Practical7/src/conf
/JSP/Practical7/build.xml
/JSP/Practical8/nbproject
/JSP/Practical8/lib
/JSP/Practical8/build
/JSP/Practical8/build.xml
/JSP/Practical8/src/conf

/JSP/Practical9/nbproject/private/
/JSP/Practical9/build/
/Hibernate/Practical10/nbproject/private/
/Hibernate/Practical10/build/
/Spring/Practical11/nbproject/private/

Hibernate/Practical10/lib
Hibernate/Practical10/nbproject
Hibernate/Practical10/src/conf

/JSP/Practical9/lib
/JSP/Practical9/nbproject
/JSP/Practical9/src/conf
/JSP/Practical9/build.xml
Hibernate/Practical10/build.xml
/Spring/Basics/build/
/Spring/Basics/lib
/Spring/Basics/nbproject
/Spring/Basics/src/conf
/Spring/Basics/build.xml
/Spring/Practical11/build/
/Spring/SpringProject/nbproject/private/
/Spring/SpringProject/build/