# JDBC Practicals
JDBC/out
/JDBC/ExtraPrograms/nbproject/private/
/JDBC/ExtraPrograms/build/

# JSP Practicals
/JSP/Practical7/nbproject/private/
/JSP/Practical7/build/
/JSP/Practical7/lib
/JSP/Practical7/nbproject
/JSP/Practical7/src/conf
/JSP/Practical7/build.xml
/JSP/Practical8/nbproject
/JSP/Practical8/lib
/JSP/Practical8/build
/JSP/Practical8/build.xml
/JSP/Practical8/src/conf

